.isActiveRoute {
  @apply text-white items-center flex border-l-[3px] border-blue-600 bg-blue-600 rounded m-2 font-medium;
}

.inactiveRoute {
  @apply py-1 border-l-[3px] border-transparent hover:text-blue-600 cursor-pointer font-normal;
}
.isActiveMenuList {
  @apply text-white py-1 border-l-[3px] border-blue-600 bg-blue-600 m-2 rounded;
}

.isNotActiveMenuList {
  @apply py-1 border-l-[3px] border-transparent;
}
/* .submenu {
  transition: height 0.3s ease-in-out;
}

.slide-down {
  height: auto;
}

.slide-up {
  height: 0;
} */
